<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= render '/head.*' %>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="<%= @config[:base_url] %>/404.html">
    <link rel="stylesheet" href="<%= @items['/assets/stylesheets/404.*'].path %>">
  </head>
  <body>
    <%= render '/header.*' %>
    <div class="main class">
      <%= yield %>
    </div>
  <%= render '/footer.*' %>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="application/javascript" src="<%= @items['/assets/javascripts/badges.*'].path %>"></script>
  <!-- Algolia docsearch https://community.algolia.com/docsearch/ -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
  <script type="text/javascript">
  var search = docsearch({
    apiKey: 'ce1690e1421303458a1fcbea0cc4a927',
    indexName: 'gitlab',
    inputSelector: '#search-input',
    algoliaOptions: {
      // Filter by tags as described in https://github.com/algolia/docsearch-configs/blob/master/configs/gitlab.json
      'filters': "tags:gitlab<score=3> OR tags:omnibus<score=2> OR tags:runner<score=1>",
      // Number of results shown in the search dropdown
      'hitsPerPage': 10
    },
    debug: false, // Set debug to true if you want to inspect the dropdown
    autocompleteOptions: {
        'autoselect': false
      }
  });
  </script>
  <script type="application/javascript" src="<%= @items['/assets/javascripts/404.*'].path %>"></script>
  <%= render '/analytics.*' %>
  <%= render '/https_redirect.*' %>
  </body>
</html>
